---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const pages = await getCollection("pages");

  return pages.map((page) => ({
    params: { slug: page.slug },
    props: { page },
  }));
}

type Props = {
  page: CollectionEntry<"pages">;
};

const { page } = Astro.props;
const { Content } = await page.render();
---

<Layout title={page.data.title}>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-4">
    <header role="presentation">
      <h1 class="text-md">
        {page.data.title} - {formatDate(page.data.publishedAt)}
      </h1>
      <p class="italic">{page.data.description}</p>
    </header>

    <Content />
  </main>
</Layout>
